# Info about setting up this file can be found here:
#   https://help.github.com/articles/dealing-with-line-endings

# The default behavior for files will be to have them converted to native line endings during checkout
#  but they will be stored in the repo with LF (linux) line endings during commit
# This "default" is enforced by the wildcard on the next line
* text
