---
Standard: c++20
AccessModifierOffset: -4
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
BinPackArguments: false
BinPackParameters: false
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: Never
  AfterEnum: true
  AfterExternBlock: false  # Original config wanted to use "true"
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyNamespace: true
  SplitEmptyRecord: true
BreakBeforeBraces: Custom
BreakConstructorInitializers: BeforeColon  # Original config wanted to use "AfterColon"
ColumnLimit: 150
CommentPragmas: '^ IWYU pragma:'
CompactNamespaces: false
FixNamespaceComments: true
IndentPPDirectives: AfterHash
IndentWidth: 4
InsertBraces: true
NamespaceIndentation: Inner
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: Never
SpacesInParentheses: false
UseTab: Never
